body {
	background: white url('../images/background.jpg');
}
.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}

/*вот эта вот снизу хуйня типо поменьше навбар. Разберись!!!!!!!!!!!*/
#navBot {                                    
	padding-bottom: 100px; 
}